.shop-title{
    color: red;
    text-align: center;
}
.shop-container{
    margin: 14px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.product-container img{
    width: 286px;
    height: 286px;
}