.header-container{
    height: 80px;
    background-color: black;
    color: white;
    width: auto;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 140px;
    padding-left: 140px;
    min-width: fit-content;
}


.header-container a{
    
    color: white;
    text-decoration: none;
    margin-left: 36px;
}
.header-container a:hover{
    color: yellow;
}